*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

img {
  border-style: none;
}

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
        180deg,
        rgba(8, 15, 26, 0.59),
        rgba(17, 17, 46, 0.46)
      )
      50% fixed,
    url(assets/img/bg-default.jpg) no-repeat 50% fixed;
  background-size: cover;
  animation: smoothAppearance 2s ease-in-out;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: Montserrat, tahoma, sans-serif;
  color: #fff;
  font-size: 2.2rem;
}

h1 {
  margin: 0;
  font-size: 4.4rem;
}

.control-unit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0;
}

.control-unit__buttons {
  display: flex;
  margin-left: 6vw;
  margin-right: 2rem;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(180, 184, 187, 0.7);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}

.button:hover {
  background-color: #b4b8bb;
}

button,
input {
  overflow: visible;
}

.control-unit__button-update {
  background: rgba(180, 184, 187, 0.7) url(assets/img/update-button.svg)
    no-repeat bottom;
  background-size: 4.4rem;
}

.control-unit__spinner {
  width: 2rem;
  height: 2rem;
  background: url(assets/img/spinner.svg) 50% no-repeat;
  animation: spinner 1.4s ease-in-out;
}
